In [1]:
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import sklearn

### Load pickle files###

In [2]:
feature_file = pd.read_pickle('antitrust_feature_train.pkl')
lable_file = pd.read_pickle('antitrust_label_train.pkl')
gram2id_file = pd.read_pickle('gram2id.pkl')
id2gram_file = pd.read_pickle('id2gram.pkl')

In [3]:
feature_file.head()

,0,1,2,3,4,5,6,7,8,9,...,61624,61674,61729,61752,61792,61833,61846,61880,61916,61941
984,53,18.0,45.0,7.0,5.0,26.0,4.0,NaN,24.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1159,16,6.0,7.0,19.0,2.0,12.0,2.0,1.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2395,57,17.0,42.0,8.0,4.0,30.0,13.0,NaN,24.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4703,26,16.0,13.0,3.0,3.0,10.0,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4745,70,19.0,34.0,5.0,7.0,18.0,2.0,1.0,11.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
lable_file.head()

984    -1.0
1159    1.0
2395    1.0
4703   -1.0
4745    1.0
Name: convote, dtype: float32

In [21]:
len(id2gram_file)

61949

In [22]:
len(gram2id_file)

61949

In [7]:
feature_file.shape

(214, 19681)

### Logistic Regression with sklearn ###

2 ways to deal with sparse matrix: decomposition or regularization

Try L2 regularization with sklearn first

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn import cross_validation
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.pipeline import Pipeline

/Users/Michael/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [9]:
feature_file.fillna(axis=1, value = 0, inplace = True)

In [10]:
feature_file.head()

,0,1,2,3,4,5,6,7,8,9,...,61624,61674,61729,61752,61792,61833,61846,61880,61916,61941
984,53,18.0,45.0,7.0,5.0,26.0,4.0,0.0,24.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1159,16,6.0,7.0,19.0,2.0,12.0,2.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2395,57,17.0,42.0,8.0,4.0,30.0,13.0,0.0,24.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4703,26,16.0,13.0,3.0,3.0,10.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4745,70,19.0,34.0,5.0,7.0,18.0,2.0,1.0,11.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
x_train, x_test, y_train, y_test = train_test_split(feature_file, lable_file, test_size = 0.1, random_state = 0)

In [12]:
lrm = LogisticRegression(dual = True)
lrm.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [13]:
n_folds = 3
predicted = cross_validation.cross_val_predict(lrm, x_train, y_train, cv = n_folds)

In [14]:
metrics.accuracy_score(y_train, predicted)

0.46875

In [15]:
accuracy = cross_validation.cross_val_score(lrm, x_train, y_train, cv = n_folds, scoring = 'accuracy')

In [16]:
print(accuracy.mean())
accuracy

0.468746184371

array([ 0.47692308,  0.453125  ,  0.47619048])

In [17]:
cfsmtrx = metrics.confusion_matrix(y_train, predicted)

In [18]:
cfsmtrx

array([[35,  0, 38],
       [ 9,  2, 16],
       [38,  1, 53]])